<ul>
<% @posts.each do |post| %>
  <li>
    <%= post.title %>
    <%= link_to 'Show', post_path(post) %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post_path(post),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
<% end %>
</ul>
